<a href="https://colab.research.google.com/github/Phimphakanph22/bsc_dpdm22/blob/main/Frequart_Pattern(Assosiation_Rules).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os
os.chdir( '/content/drive/MyDrive/DPDM') # local path
!pwd

/content/drive/MyDrive/DPDM

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
!ls

 7-eleven.json				      Midterm
'Colab Notebooks'			      reduced_marketbasket.csv
'Data Supply.xlsx'			      คำตอบนักประเมิน.xlsx
 Group8_5ดุสดี_7ธนภัทร_26พัชรีภรณ์_28พิมพกานต์.xlsx  'พิมพกานต์ ภูพานทอง.csv'
 Group8.csv				      อุตุ

## Open file

In [6]:
import pandas as pd

In [7]:
data = pd.read_csv('/content/drive/MyDrive/DPDM/reduced_marketbasket.csv', encoding='latin-1') #error utf-8: เกิดจากตัวอักษรที่ไม่เป็นมาตรฐาน ถ้าไม่ใส่ encoding
print(data.shape)
data.head()

(541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/01/2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/2010 08:26,3.39,17850.0,United Kingdom

In [15]:
 data.groupby('InvoiceNo')['StockCode'].apply(list)

InvoiceNo
536365     [85123A, 71053, 84406B, 84029G, 84029E, 22752,...
536366                                        [22633, 22632]
536367     [84879, 22745, 22748, 22749, 22310, 84969, 226...
536368                          [22960, 22913, 22912, 22914]
536369                                               [21756]
                                 ...
581586                          [22061, 23275, 21217, 20685]
581587     [22631, 22556, 22555, 22728, 22727, 22726, 227...
A563185                                                  [B]
A563186                                                  [B]
A563187                                                  [B]
Name: StockCode, Length: 20728, dtype: object

In [16]:
transactions = data.groupby('InvoiceNo')['StockCode'].apply(list).reset_index() 
transactions

      InvoiceNo                                          StockCode
0        536365  [85123A, 71053, 84406B, 84029G, 84029E, 22752,...
1        536366                                     [22633, 22632]
2        536367  [84879, 22745, 22748, 22749, 22310, 84969, 226...
3        536368                       [22960, 22913, 22912, 22914]
4        536369                                            [21756]
...         ...                                                ...
20723    581586                       [22061, 23275, 21217, 20685]
20724    581587  [22631, 22556, 22555, 22728, 22727, 22726, 227...
20725   A563185                                                [B]
20726   A563186                                                [B]
20727   A563187                                                [B]

[20728 rows x 2 columns]

In [17]:
set(data['Country'])

{'Australia',
 'Austria',
 'Bahrain',
 'Belgium',
 'Brazil',
 'Canada',
 'Channel Islands',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'EIRE',
 'European Community',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hong Kong',
 'Iceland',
 'Israel',
 'Italy',
 'Japan',
 'Lebanon',
 'Lithuania',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'RSA',
 'Saudi Arabia',
 'Singapore',
 'Spain',
 'Sweden',
 'Switzerland',
 'USA',
 'United Arab Emirates',
 'United Kingdom',
 'Unspecified'}